!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: 'user-scalable=yes, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height'}
    %title= current_page.data.title || "Middleman + Cordova"
    = stylesheet_link_tag "application"
  %body{"ng-app" => "MiddlemanCordova"}
    = angular_include_templates
    %ui-view.page{layout: 'column', "flex" => nil, "ng-view" => true}
    = javascript_include_tag "application"